@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    background-image: radial-gradient(circle at bottom center, crimson 0%, transparent 27%);
    background-repeat: no-repeat;
    background-size: 3000px 3000px; 
    background-position: center bottom;
}

.titulo-destaque{
    color: crimson;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__SUBTITULO{
    font-family: 'krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid crimson;
    background-color: transparent;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover{
    border: 2px solid #ffffff;
    width: 400px;
}

.imagem{

    border-radius: 100px;
}

.rodapé
{
    color: rgb(0, 0, 0);
    background-color: crimson;
    padding:  24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}