* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Garantir que o HTML e body ocupem 100% da altura da página */
}

body {
    font-family: Arial, sans-serif;
    background-image: url(https://wallpaper.dog/large/20459714.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Remover o padding do body */
}

header {
    background-color: rgba(19, 19, 19, 0.9); /* Cor de fundo com transparência */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Garantir que o header ocupe toda a largura */
    height: 100px; /* Definir uma altura para o header */
    margin: 0; /* Garantir que não tenha margem */
    padding: 0; /* Remover padding */
    position: relative;
    top: 0; /* Garantir que encoste no topo */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
    background-color: rgba(19, 19, 19, 0.9);
    margin-top: 20px; /* Para dar um pequeno espaçamento entre o header e o main */
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.fotoclau {
    border: 6px dashed rgb(32, 229, 255);
    width: 500px;
}

.links a {
    color: rgb(32, 229, 255);
}
