* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/9c3404112981173.601ebcc1dba2d.gif);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; 
}

header {
    background-color: rgba(19, 19, 19, 0.9); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100px; 
    margin: 0; 
    padding: 0; 
    position: relative;
    top: 0; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 700px;
    background-color: rgba(19, 19, 19, 0.9);
    margin-top: 20px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.fotoclau {
    border: 6px dashed rgb(32, 229, 255);
    width: 500px;
}

.links a {
    color: rgb(32, 229, 255);
}
