*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    flex-grow: 1;
}

header{
padding-left: 180px;
padding-top: 10px;
font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    color: #f6f6f6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;


}

.img{
    color: #22D4FD;
    border-style: solid ;
    border-radius: 50px;
    
}
.elementos p{
    text-align: justify;
    max-width: 300px;
    margin-top: 50px;
    font-size: 8.2mm;
    box-sizing: border-box;
}

.destaque_do_titulo{
    color: #22D4FD;
}

.apresentacao{
    box-sizing: border-box;
    width: 60%;
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 104, 104);
}


.links a{
    border-radius: 10px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    color: black;
    width: 140px;
    height: 70px;
    background-color: rgb(26, 223, 249);
    outline: 1px solid rgb(114, 114, 114);
    
}

.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

footer{
    align-items: center ;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
}